/* General styling */
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
  }
  
  p {
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  
  h1, h2, h3, h4 {
    font-weight: 600;
    font-family: "Montserrat";
  }
  
  h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
  }
  
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
  }
  
  ul {
    padding: 0;
    margin-top: 0;
  }
  
  li {
    list-style-type: none;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  div#work-section ul {
    padding-left: 1.5rem;
    margin-top: 0;
  }
  
  div#work-section li {
    list-style-type: initial;
    line-height: 1.4rem;
  }
  
  div#work-section p {
    margin-bottom: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  img.profile {
    width: 100%;
    max-width: 216px;
    padding-bottom: 1rem;
  }
  
  #recent-gallery figcaption {
    margin-bottom: 1rem;
  }
  
  #recent-gallery .gallery-img {
    overflow: hidden;
    max-height: 200px;
    margin-bottom: 0.3rem;
  }
  
  #recent-gallery img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* Mobile specific */
  .grid-container {
    width: 90%;
    max-width: 420px;
    margin: auto;
  }

  .socials {
    padding-top: 15px;
    padding-right: 1rem;
  }
  
  #recent-gallery {
    width: 100%;
  }
  
  #recent-gallery figcaption {
    text-align: left;
  }
  
  nav li {
    display: inline;
    margin-right: 3%;
    margin-bottom: 0.2rem;
    font-family: "Roboto", "Arial", sans-serif;
  }
  
  nav {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  img.profile {
    display: block;
    margin: 1rem auto;
  }
  
  /* Desktop specific */
  @media only screen and (min-width: 768px) {
    img.profile {
      display: inline;
      margin: auto;
    }
  
    .grid-container {
      display: grid;
      width: 85%;
      max-width: 100%;
      margin-top: 3rem;
      margin-left: 11%;
      margin-right: 4%;
      grid-template-columns: 22.5% 45%;
      grid-gap: 5%;
      background-color: #ffff;
      color: #000;
    }
  
    #recent-gallery figcaption {
      text-align: center;
    }
  
    #recent-gallery {
        /*
        TODO Make this a css-grid instead of just two columns
        This will make gallery items line up regardless of
        image caption length
        */
        display: grid;
        width: 100%;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
        background-color: #ffff;
      }
  
      nav {
        position: absolute;
        margin-top: 0;
        top: 3rem;
        right: 5%;
        text-align: right;
      }
  
      nav li {
        display: block;
        margin-right: 0;
      }
  
      div.column-center > div {
        margin-bottom: 2rem;
        /* increase width of this div */
        width: 115%;
      }
    }